@{
    ViewData["Title"] = "Activity Center: Login & Register";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            @Html.Partial("../Partials/Register")
        </div>
        <div class="col-sm-6">
            @Html.Partial("../Partials/Login")
        </div>
    </div>
</div>